@tailwind base;
@tailwind components;
@tailwind utilities;

// @layer base {
// html {
//   @apply ltr:font-lato rtl:font-yekan;
// }
// img:not(div.content img) {
//   @apply w-full h-full object-cover;
// }
// }

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

html[dir='ltr'] {
  font-family: Lato, sans-serif;
}
html[dir='rtl'] {
  font-family: Yekan Bakh;
}

*:not(a, button) {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;

  &:focus {
    outline: none !important;
  }
}

@font-face {
  font-family: 'Yekan Bakh Fat';
  src: url('/fonts/YekanBakh-Fat.eot');
  src: local('YekanBakh-Fat'),
    url('/fonts/YekanBakh-Fat.eot?#iefix') format('embedded-opentype'),
    url('/fonts/YekanBakh-Fat.woff2') format('woff2'),
    url('/fonts/YekanBakh-Fat.woff') format('woff'),
    url('/fonts/YekanBakh-Fat.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/YekanBakh-Medium.eot');
  src: local('YekanBakh-Medium'),
    url('/fonts/YekanBakh-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/YekanBakh-Medium.woff2') format('woff2'),
    url('/fonts/YekanBakh-Medium.woff') format('woff'),
    url('/fonts/YekanBakh-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/YekanBakh-Bold.eot');
  src: local('YekanBakh-Bold'),
    url('/fonts/YekanBakh-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/YekanBakh-Bold.woff2') format('woff2'),
    url('/fonts/YekanBakh-Bold.woff') format('woff'),
    url('/fonts/YekanBakh-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/YekanBakh-Light.eot');
  src: local('YekanBakh-Light'),
    url('/fonts/YekanBakh-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/YekanBakh-Light.woff2') format('woff2'),
    url('/fonts/YekanBakh-Light.woff') format('woff'),
    url('/fonts/YekanBakh-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/YekanBakh-Heavy.eot');
  src: local('YekanBakh-Heavy'),
    url('/fonts/YekanBakh-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/fonts/YekanBakh-Heavy.woff2') format('woff2'),
    url('/fonts/YekanBakh-Heavy.woff') format('woff'),
    url('/fonts/YekanBakh-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/YekanBakh-Thin.eot');
  src: local('YekanBakh-Thin'),
    url('/fonts/YekanBakh-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/YekanBakh-Thin.woff2') format('woff2'),
    url('/fonts/YekanBakh-Thin.woff') format('woff'),
    url('/fonts/YekanBakh-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/YekanBakh-Regular.eot');
  src: local('YekanBakh-Regular'),
    url('/fonts/YekanBakh-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/YekanBakh-Regular.woff2') format('woff2'),
    url('/fonts/YekanBakh-Regular.woff') format('woff'),
    url('/fonts/YekanBakh-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh Hairline';
  src: url('/fonts/YekanBakh-Hairline.eot');
  src: local('YekanBakh-Hairline'),
    url('/fonts/YekanBakh-Hairline.eot?#iefix') format('embedded-opentype'),
    url('/fonts/YekanBakh-Hairline.woff2') format('woff2'),
    url('/fonts/YekanBakh-Hairline.woff') format('woff'),
    url('/fonts/YekanBakh-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
